LITCHI_CFG=1.3N
#=
#=TAKE CARE IF YOU MODIFY THESE VALUES WITH A TEXT EDITOR
#=
GUIDE_FILE=M:\LITCHIFR\LITCHI.HYP
WORK_PATH=M:\LITCHIFR\WORK\
LOG_FILE=M:\LITCHIFR\LITCHI.LOG
DEFAULT_FOLDER=M:\LITCHIFR\DOWNLOAD\
HELP_BUBBLE=TRUE
HELP_NOTIFICATIONS=TRUE
FONT_CONSOLE_HEIGHT=13
FONT_CONSOLE_ID=1
FONT_FILES_HEIGHT=10
FONT_FILES_ID=1
DISPLAY_WIN_POS_TYPE=0
DISPLAY_WIN_LINKED=FALSE
DISPLAY_WIN_POS_SAVE=FALSE
WIN_POS_URLS=0,0,0,0
WIN_POS_REMOTE=0,0,0,0;OPENED
WIN_POS_LOCAL=0,0,0,0;OPENED
WIN_POS_CONSOLE=0,0,0,0
WIN_POS_TRANSFERT=0,0,0,0
WIN_POS_COMMAND=0,0,0,0
WIN_POS_RIGHTS=0,0,0,0
DISPLAY_FILES_HLINES=TRUE
DISPLAY_FILES_HLINES_COLOR=8
DISPLAY_FILES_VLINES=FALSE
DISPLAY_FILES_VLINES_COLOR=9
DISPLAY_FILES_LINKS_COLOR=9
DISPLAY_FILES_WITH_ICON=TRUE
DISPLAY_FILES_WITH_DATE=TRUE
DISPLAY_FILES_DATE_FORMAT=0
DISPLAY_FILES_WITH_LENGTH=TRUE
DISPLAY_FILES_LENGTH_FORMAT=0
DISPLAY_FILES_WITH_RIGHTS=FALSE
DISPLAY_FILES_WITH_OWNER=FALSE
DISPLAY_FILES_WITH_GROUP=FALSE
DISPLAY_SORT_TYPE=0
DISPLAY_SORT_DISTINGUISH_CASE=TRUE
DISPLAY_SORT_FOLDER_AT_TOP=TRUE
DISPLAY_SORT_REVERSE=FALSE
DISPLAY_SORT_DISCARD_HIDDEN_FILES=FALSE
DISPLAY_USE_CONSOLE=FALSE
DISPLAY_CONSOLE_ERROR=TRUE
DISPLAY_CONSOLE_WARNING=TRUE
DISPLAY_CONSOLE_INFORMATION=TRUE
DISPLAY_CONSOLE_PROTOCOLE=FALSE
DISPLAY_DATE_GMT_DECALAGE=100
MISC_OPENING_TIMEOUT=15
MISC_PERSISTENT_CONNEXION=FALSE
MISC_AUTO_REFRESH_LIST=TRUE
MISC_ANTE_REFRESH_LIST=FALSE
MISC_AUTO_VERIFY_LINKS=TRUE
MISC_SAVE_CONFIGURATION_AT_LEAVE=FALSE
MISC_SAVED_SESSION_SERVER_NUMBER=0
MISC_SAVED_SESSION_REMOTE_PATH=
MISC_SAVED_SESSION_LOCAL_PATH=
MISC_RESTORE_SESSION_CONFIRM_DELAY=0
MISC_USE_LOG=FALSE
MISC_SEND_SMALL_CASE=FALSE
MISC_KEEP_RIGHTS=FALSE
MISC_KEEP_DATE=TRUE
MISC_CHOICE_EXISTING_FILE_TYPE=0
MISC_CONFIRM_QUIT=TRUE
MISC_CONFIRM_SEND=FALSE
MISC_CONFIRM_DELETE=TRUE
MISC_DISPLAY_FLOW=TRUE
MISC_COMPUTE_STATS=FALSE
MISC_LIST_BUFFER_SIZE_KB=256
MISC_VERIFY_SERVERS_CERTIFICATES=FALSE
MISC_USED_SSL/TLS_LIBRARY=-1
MISC_ACCEPTED_SECURE_PROTOCOL_MIN=0
MISC_ACCEPTED_SECURE_PROTOCOL_MAX=0
MISC_WISHED_CIPHERSUITE=
MISC_DONT_USE_DISK_A=FALSE
MISC_DONT_USE_DISK_B=FALSE
MISC_ALWAYS_USE_DISK_A=FALSE
DISPLAY_REMOTE_FIELDS_POS=0,80,160,240,320,400
DISPLAY_LOCAL_FIELDS_POS=0,80,160
